

<div class="messages">
<b class="btn btn-large btn btn-default"><%= link_to "Close Messages", @order%></b>
	<%@messages.each do |message| %>
<table class="table">
	<% if message.sender %>
	<tr class="active">
		<td>Support &nbsp; &nbsp;|<%=message.body%></td>
	</tr>
	<%else %>
	<tr>
		<td>You  &nbsp; &nbsp; |<%=message.body%></td>

	</tr>
	<% end %>
</table>
<% end %>
</div>
