<%= stylesheet_link_tag   "pages", :media => "all" %>
<h3>Reset Password</h3>

<%= form_tag password_resets_path, :method => :post do %>
<table>
  <tr>

    <td><%= text_field_tag :email, params[:email], :size=> "30", :placeholder=>"Email"%></td>
  </tr>
  <tr>

  <td><%= submit_tag "Reset Password", :class=>"btn btn-large btn-primary"%></td>
</tr>
  </table>
<% end %>

