<%= form_for(@customer) do |f| %>
<!--the code finds an existing relationship and deletes it-->
<div><%= f.hidden_field :admin, :value => true %></div>
<%= f.submit "make admin", method: :put, class: "btn btn-large"%>
<% end %>