<%= stylesheet_link_tag "customers", media: "all" %>
	<div id="elixirs">
		<% unless signed_in?%>
<div id="login">
	<%= render :file => 'sessions/new' %>
</div>
  <% end %>
  <p></p>
<div id="features">
	<h4><span class="btn btn-large btn btn-info">Topics Covered</span></h4>
		<ul>
   <li>Art and Design</li>
    <li>Business and Economics</li>
    <li>Communication and Media</li>
    <li>Education</li>
    <li>Health and Medicine</li>
    <li>History</li>
    <li>IT</li>
    <li>Law</li>
    <li>Literature and Languages</li>
    <li>Mathematics</li>
    <li>Natural Sciences</li>
    <li>Political Sciences</li>
    <li>Social Sciences</li>
    <li>Technology and Engineering</li>
    <li>...and Others!</li>
</ul>
</div>
<p></p>
<div id="features">
<h4><span class="btn btn-large btn btn-info">Service Features</span></h4>
		<ul>

   <li>FREE amendments</li>
    <li>FREE bibliography page</li>
    <li>FREE title page</li>
    <li>FREE Plagiarism report</li>
    <li>FREE Formatting</li>
    <li>100% original papers</li>
    <li>275 words per page</li>
    <li>Any citation style</li>
    <li>Guaranteed Privacy</li>
    <li> 24/7 customer support</li>
    <li>...and Others!</li>
</ul>
</div>

<div class="payments">
</div>
</div>

<div id="customer">
<% if notice %>
<p id="notice"><%=notice%></p>
<%end%>
<%= render 'form' %>
</div>