

    <table class="table table-striped">

        <thead>

            <tr>

                <th>Project Description</th>

                <th>Order ID</th>

                <th>Time remaining</th>

                <th>Order Status</th>
                <th>Messages</th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <td rowspan="3"><%= link_to "#{order.instructions}", order%></td>

                <td>#<%=order.id%></td>

                <td><%=order.urgency%></td>
                <td> <% if order.marking=="complete"%>
                    <span class="btn btn-small btn btn-default">Complete</span>
                    <% end %>
                    <% if order.marking=="revision" %>
                    <span class="btn btn-large btn btn-default">Revision</span>
                    <% end %>
                    <% if order.marking=="dispute" %>
                    <span class="btn btn-large btn btn-default">Dispute</span>
                    <% end %>
                </td>
                <td><span class="badge badge-default"><%= link_to "#{order.messages.count(:recipient)}", order %>
        </span></td>
            </tr>

        </tbody>

    </table>
