<div class="size">
<%= render 'form' %>
<div class="guarantee">
	<h3>PayPal Verified</h3>
	<span>1. Fill our sign up form and place your order</span></br>
	<p></p>
	<span>2. Log in to your account and pay for the order</span></br>
	<p></p>
	<span>3. Trace your order progress</span></br>
	<p></p>
	<span>Fill our sign up form and place your order</span></br>
	<p></p>
	<span>Log in to your account and pay for the order</span></br>
	<p></p>
	<span>Trace your order progress</span></br>
	<p></p>
	<span>Fill our sign up form and place your order</span></br>
	<p></p>
</div>
<%#= link_to 'Back', orders_path %>
<div class="guarantee1">
	<h3>PayPal Verified</h3>
	<span>1. Fill our sign up form and place your order</span></br>
	<p></p>
	<span>2. Log in to your account and pay for the order</span></br>
	<p></p>
	<span>3. Trace your order progress</span></br>
	<p></p>
	<span>Fill our sign up form and place your order</span></br>
	<p></p>
	<span>Log in to your account and pay for the order</span></br>
	<p></p>
	<span>Trace your order progress</span></br>
	<p></p>
	<span>Fill our sign up form and place your order</span></br>
	<p></p>
</div>
<div class="guarantee2">
	<h3>PayPal Verified</h3>
	<span>1. Fill our sign up form and place your order</span></br>
	<p></p>
	<span>2. Log in to your account and pay for the order</span></br>
	<p></p>
	<span>3. Trace your order progress</span></br>
	<p></p>
	<span>Fill our sign up form and place your order</span></br>
	<p></p>
	<span>Log in to your account and pay for the order</span></br>
	<p></p>
	<span>Trace your order progress</span></br>
	<p></p>
	<span>Fill our sign up form and place your order</span></br>
	<p></p>
</div>
</div>