
<div class="maincolumn_full">
<h4> What we Offer</h4>
Contract negotiation is an art and science that necessitates education, continuous training and diverse experience. Acquisition of negotiation skills requires the substantive understanding of the contract law and procedures of a contract. Skilled and experienced negotiators make significant contribution to the performance of an organization. The process of contract negotiation demands adequate time and effort for preparation in order to formulate a definitive and defensible negotiation position. In addition, preparation enables the negotiator to have substantive knowledge of the contract’s expectation and boosts his or her confidence in facing any challenges during contract negotiation. The contract negotiation process adopted by an organization boosts its competitiveness and trust from contracts issuers.
</div>
<%#unless signed_in? %>
<div class="leftcolumn">
	<div class="features">
	<h3><em> Service Features</em></h3>
	<ul>
	<li>Approx. 275 words/page</li></br>
	<li>All formats: (APA, MLA, Harvard, Chicago/Turabia)</li></br>
	<li>Font: 12 point Arial/Times New Roman</li></br>
	<li>Double and Singlespacing </li></br>
	<li>Free bibliography page</li></br>
	<li>Free title page</li></br>
	<li>Fast turn-around </li>
</ul>
</div>
</div>
<div class="centercolumn">
	<div class="centerfeatures">
	<h3><em> Payment System</em></h3>
	<span> We accept the following payment methods:</span></br>
	<div class="payment">
		<ul>
	<li> #Approx. 275 words/page</li></br>
	<li>#All formats: (APA, MLA, Harvard, Chicago/Turabia)</li></br>
	<li>#Font: 12 point Arial/Times New Roman</li></br>
	<li>#Double and Singlespacing </li>
	
</ul>
	</div>
</div>
</div>

<div class="rightcolumn">
	<h3><em>Our Quality</em></h3>
	<span>*Our large pool of writers allows us to respond to all types of assignments and discplines</span></br>
	<p></p>
<span></span></br>
	<span>*Our custom papers are plagiarism free...We check all papers with plagiarism detection software</span></br>
	<span></span></br>
	<p></p>
	<span>*8 out of 10 average quality score</span></br>
	<p></p>
	<span></span></br>
	<span>*96% of orders delivered on time</span></br>
	<p></p>
</div>
