// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
html{
	background-color: #A3DADA;
}

body {
color: #5B7A7A;
font-family: Verdana, "Times New Roman", Times, serif;
font-size: small;
margin: 3%;
width: 90%;
padding-right: 3%;
line-height: 1.8em;
border: 2px thin solid;
border-radius: 15px;
}

.top {
margin: 2%;
font-size: 300%;
}
#logo{
border: 2px thin solid;	
position: relative;
left: 10%;
color: brown;
}

/* styled form */
#notice{
	color: red;
	font-size: medium;
}
#error_explanation {
color: #f00;
}
#error_explanation ul {
list-style: none;
margin: 0 0 18px 0;
}

label {
	 text-shadow: 0px 1px 0px #f2f2f2;
}

.uploads {
color: #000;

margin-bottom: 2em;
}
.uploads form input{
width: 10%;
	border:1px thin solid;
}

nav {
  color: #fff;
margin: 10px 10px 0px 10px;
height: 50px;
margin-bottom: 4%;
}
nav ul {
margin: 0px;
list-style-type: none;
padding: 5px 0px 5px 0px;
}
nav ul li {
display: inline;
padding: 5px 10px 5px 10px;
font-size: large;
font-style: bold;
color: black;
font-family: Verdana, Helvetica, Arial,sans-serrif;
}
nav ul li.selected {
background-color: #c8b99c;
}
nav ul a:hover {
color: black;
}

#features{
padding-left: 1em;
padding-bottom: 1em;
border:2px dotted white;
	border-radius:5px;
	text-align:left;
line-height: 1.3em;
font-size: small;
	ul li{
	list-style: circles;
	color: #4DB84D;
	}
}
	.payments{
background: url("payments.gif") repeat no-repeat;
text-indent: -9999px; 
white-space: nowrap;

color: transparent;
}
#login{
padding: 0;
line-height: 1.3em;
font-size: small;
text-align: left;
margin: 2%;

}
#login form input{
width: 100%;
border:1px thin solid;

}
#customer form input{
margin-bottom: 2.5%;
width: 75%;
font-size: 120%;
	border:1px line;
	background-color:  
#E0F0FF;
}
#customer form select{
color: brown;
margin-bottom: 2.5%;
font-size: 120%;
border:1px line;
}

#account{
	background: white;
	text-align: left;
	border-radius: 6px;
}

#account ul li{
	text-align: left;
	font-size: 140%;
	
}

footer {
color: brown;
text-align: center;
padding: 15px;
font-size: 90%;
clear: left;
margin-top: 5%;
padding-left: 15%;
}
#elixirs{
width: 25%;
float: left;
text-align: center;
line-height: 1;
marigin: 5%;
padding-right: 20px;
padding-bottom: 20px;
}
#elixirs h2 {
color: black;
}
#elixirs h3 {
color: #d12c47;
}
#features{
padding-left: 1em;
padding-bottom: 1em;
border:2px dotted white;
border-radius:5px;
text-align:left;
line-height: 1.3em;
font-size: small;
ul li{
list-style: circles;
color: #4DB84D;
}
}
div.tableRow {
display: table-row;
clear: both;
}
div.tableRow span {
display: table-cell;
vertical-align: top;
padding: 3px;
}
div.tableRow span:first-child {
text-align: right;
}
p.heading {
font-weight: bold;
}
label {
text-shadow: 0px 1px 0px #f2f2f2;
}
.show{
font-size: medium;
padding-left: 15px;
background-color: #FFFFFF;
line-height: 1.5em;
border-left: thin solid #675c47;
border-radius: 15px;
}
.show table {
border-collapse: collapse;
caption-side: top;
}
