// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/* styled form */

#error_explanation {
color: #f00;
}
#error_explanation ul {
list-style: none;
margin: 0 0 18px 0;
}
div.tableRow {
display: table-row;
clear: both;
}
div.tableRow span {
display: table-cell;
vertical-align: top;
padding: 3px;
}
div.tableRow span:first-child {
text-align: right;
}
p.heading {
font-weight: bold;
}

label {
	 text-shadow: 0px 1px 0px #f2f2f2;
}


.show{
	font-size: medium;
	padding-left: 15px;
	background-color: #FFFFFF;
	line-height: 2em;
	border-top: thin solid #675c47;
	border-bottom: thin solid #675c47;
	border-left: thin solid #675c47;
	border-radius: 15px;
}
.show table {
border-collapse: collapse;
caption-side: top;
}

caption {
font-style: italic;
padding-top: 10px;
}


.uploads {
color: #000;

margin-bottom: 2em;
}
.uploads form input{
width: 10%;
	border:1px thin solid;
}

body {
color: #85ADAD;
background-color:#F5F5F4;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: small;
margin: 3%;
padding-right: 3%;
line-height: 1.8em;
}

.top {
margin: 1%;
height: 300%;
}
#logo{
background: url("banner.png") no-repeat;
background-size: 45%;
border: 2px thin solid;	
position: relative;
left: 10%;
}

nav {
  color: #fff;
margin: 10px 10px 0px 10px;
height: 50px;
}
nav ul {
margin: 0px;
list-style-type: none;
padding: 5px 0px 5px 0px;
}
nav ul li {
display: inline;
padding: 5px 10px 5px 10px;
font-size: large;
font-style: bold;
color: white;
font-family: Verdana, Helvetica, Arial,sans-serrif;
}
nav ul li.selected {
background-color: #c8b99c;
}
nav ul a:hover {
color: black;
}

#elixirs{
width: 25%;
float: left;
text-align: center;
line-height: 1;
marigin: 5%;
padding-right: 20px;
padding-bottom: 20px;


}
#elixirs h2 {
color: black;
}
#elixirs h3 {
color: #d12c47;
}


#features{
padding-left: 1em;
padding-bottom: 1em;
border:2px dotted white;
	border-radius:5px;
	text-align:left;
line-height: 1.3em;
font-size: small;
	ul li{
	list-style: circles;
	color: #4DB84D;
	}
}
	.payments{
background: url("payments.gif") repeat no-repeat;
text-indent: -9999px; 
white-space: nowrap;

color: transparent;
}
#login{
padding: 0;
line-height: 1.3em;
font-size: small;
text-align: left;
margin: 2%;

}
#login form input{
width: 100%;
border:1px thin solid;

}
#customer form input{
margin-bottom: 5%;
width: 80%;
font-size: 135%;
	border:1px line;
}