// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
body {
color: #85ADAD;
background-color:#F5F5F4;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: small;
margin: 3%;
padding-right: 3%;
line-height: 1.8em;
}

.top {
margin: 1%;
height: 300%;
}
#logo{
background: url("banner.png") no-repeat;
background-size: 45%;
border: 2px thin solid;	
position: relative;
left: 10%;
}

nav {
  color: #fff;
margin: 10px 10px 0px 10px;
height: 50px;
}
nav ul {
margin: 0px;
list-style-type: none;
padding: 5px 0px 5px 0px;
}
nav ul li {
display: inline;
padding: 5px 10px 5px 10px;
font-size: large;
font-style: bold;
color: white;
font-family: Verdana, Helvetica, Arial,sans-serrif;
}
nav ul li.selected {
background-color: #c8b99c;
}
nav ul a:hover {
color: black;
}

#elixirs{
width: 25%;
float: right;
text-align: center;
line-height: 1;
marigin: 5%;
padding-right: 10px;
padding-bottom: 20px;


}
#elixirs h2 {
color: black;
}
#elixirs h3 {
color: #d12c47;
}


#features{
padding-left: 1em;
padding-bottom: 1em;
border:2px dotted white;
	border-radius:5px;
	text-align:left;
line-height: 1.3em;
font-size: small;
	ul li{
	list-style: circles;
	color: #4DB84D;
	}
}

#account{
	background: white;
	text-align: left;
	border-radius: 6px;
}

#account ul li{
	text-align: left;
	font-size: 140%;
	
}

div.tableRow {
display: table-row;
clear: both;
}
div.tableRow span {
display: table-cell;
vertical-align: top;
padding: 3px;
}
div.tableRow span:first-child {
text-align: right;
}
p.heading {
font-weight: bold;
}

#show table {
width: 55%;
border-collapse: collapse;
caption-side: top;
font-size: medium;
margin-left: 13%;
}
th, td{
border: 0px solid black;
font-size: large;
padding: 2%;
}
 th {
background-color: #FFD6F5;
}
tr:nth-child(odd) {
background-color: #DAF3FF;
}

#notice{
font-size: large;
color: green;
}
#read_messages
{
padding: 0;
width: 45%;
line-height: 1em;
font-size: small;
font-family: Georgia, "Times New Roman", Times, serif;
}

#show2 table {
width: 55%;
border-collapse: collapse;
caption-side: top;
font-size: medium;
margin-left: 6%;
}
#payments{
background: url("payments.gif") no-repeat;
text-indent: -9999px; 
white-space: nowrap;
}

#message{

th, td{
border: 0px solid black;
}
 th {
background-color: transparent;
}
tr:nth-child(odd) {
background-color: transparent;
}
}
.messages td{
font-size: 100%;
background-color: white;
}
.messages tr{
	border-bottom: 3px solid black;
}
#uploads tr{
	background-color: transparent;
}
#uploads td{
	font-size: medium;
}
