@import "bootstrap";


body {
color: #85ADAD;
background-color:#F5F5F4;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: small;
margin: 3%;
padding-right: 3%;
line-height: 1.8em;
}

.top {
margin: 1%;
height: 300%;
}
#logo{
background: url("banner.png") no-repeat;
background-size: 45%;
border: 2px thin solid;	
position: relative;
left: 10%;
}

nav {
  color: #fff;
margin: 10px 10px 0px 10px;
height: 50px;
}
nav ul {
margin: 0px;
list-style-type: none;
padding: 5px 0px 5px 0px;
}
nav ul li {
display: inline;
padding: 5px 10px 5px 10px;
font-size: large;
font-style: bold;
color: white;
font-family: Verdana, Helvetica, Arial,sans-serrif;
}
nav ul li.selected {
background-color: #c8b99c;
}
nav ul a:hover {
color: black;
}

#elixirs{
width: 25%;
float: left;
text-align: center;
line-height: 1;
marigin: 5%;
padding-right: 20px;
padding-bottom: 20px;


}
#elixirs h2 {
color: black;
}
#elixirs h3 {
color: #d12c47;
}


#features{
padding-left: 1em;
padding-bottom: 1em;
border:2px dotted white;
	border-radius:5px;
	text-align:left;
line-height: 1.3em;
font-size: small;
	ul li{
	list-style: circles;
	color: #4DB84D;
	}
}
#payments{
background: url("payments.gif") no-repeat;
text-indent: -9999px; 
white-space: nowrap;
}
#login{
padding: 0;
line-height: 1.3em;
font-size: medium;
text-align: left;
margin: 2%;

}
#login form input{
width: 100%;
border:1px thin solid;

}
#center{
	background-color: white;
	margin: 1%;
	ul li {
	color: brown;
	}
}
.pricing {
line-height: 1.3em;
margin: 3%;
}
.pricing select{
	font-size: 120%;
}
.pricing legend{
text-align: center;
font-size: 150%;
}
#totalPrice{
	font-size: 150%;
}